.requestproduct{margin-bottom:20px;}
.requestproduct1{height:150px;}
.requestproductbox{width:250px; height:100px;}
.requestproductbox1{width:250px;}
.requestproduct .validation-advice{width:235px;}
.adminmail{color:#000;font-weight:bold;margin-bottom:20px;}
.mailcontent{margin-top:10px;}
